html {
    font-size: 14px;
}

body {
    background: linear-gradient(180deg, rgba(3, 56, 244, 0.71) 0%, rgba(224, 37, 206, 0.79) 93.75%);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

#menu a {
    text-decoration: none !important;
    color: #232323;
    transition: color 0.3s ease;
}

#menu a:hover {
    color: #2ecc71;
}

.container-wrapper {
    width: 60%;
    margin: 10px auto;
}

.first-page {
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 20px;
}

.first-block {
    background: rgba(196, 196, 196, 0.3);
    border-radius: 10px;
    padding: 20px;
    margin-right: 10px;
    width: auto;
}

.first-block-container {}

.avatar {
    display: flex;
    color: #CECACA;
    justify-content: space-around;
}

.avatar img {
    border-radius: 50%;
    width: 13rem;
    margin-right: 20px;
}

.avatar-info h1 {
    font-weight: 400;
    font-size: 3rem;
}

.avatar-info h1 span {
    font-weight: 500;
    font-size: 4rem;
    line-height: 42.67px;
    color: #fff;
}

.avatar-info h2 {
    font-weight: 700;
    font-size: 2rem;
}

.contacts {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.contacts li {
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.contacts li:last-child {
    margin-bottom: 0px;
}

.contacts li img {
    padding: 0;
    float: left;
    width: 2rem;
    margin-right: 3rem;
}

.contacts li span {
    color: #fff;
    font-size: 1.5rem;
}

.contacts li span a {
    text-decoration: none;
    color: #fff;
}

.knowledge-container {
    color: #fff;
    font-size: 1.5rem;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.knowledge-container h3 {
    margin: 0px;
    padding: 10px 10px 5px 10px;
}

.knowledge-container ul {
    margin: 0;
}

.social-list {
    list-style-type: none;
}

.social-list li span a {
    color: white;
    text-decoration: none;
}

.second-block {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.second-block-item {
    padding: 10px;
}

.second-block-header {
    background-color: #545454;
    padding: 5px;
    border-radius: 5px;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
    width: fit-content;
}

.second-block-header-res {
    margin-bottom: 10px;
}

.second-block-header-res h4 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #343434;
}

.second-block-header-res h5 {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #73808D;
}

.second-block-header-res p {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.second-block-skills {
    display: flex;
    justify-content: space-between;
    width: 60%;
    /* margin: 0 auto; */
}

.skills-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.skills-item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C4C4C4;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-bottom: 10px;
    border: 5px solid #3B5999;
}

.skills-item-img img {
    width: 40px;
}

.skills-item h4 {
    color: 545454;
    font-size: 1.5rem;
}

@media (max-width: 1200px) {
    .container-wrapper {
        width: 90%;
    }
    .first-page {
        flex-direction: column;
    }
    .first-block {
        margin-right: 0px;
        margin-bottom: 10px;
    }
}

@media (max-width: 651px) {
    .avatar-info h1 {
        font-size: 2rem;
    }
    .avatar-info h1 span {
        font-size: 2rem;
    }
    .contacts li span {
        font-size: 1rem;
    }
    .contacts li img {
        margin-right: 1rem;
    }
    .knowledge-container {
        color: #fff;
        font-size: 1.3rem;
    }
    .social-list {
        padding-left: 10px;
    }
    .second-block {
        padding: 10px;
    }
    .second-block-skills {
        width: 100%;
    }
}

@media (max-width: 580px) {
    .avatar {
        flex-direction: column;
    }
}

.second {
    background-color: #fff;
    border-radius: 5px;
}

.second h2 {
    padding: 20px;
    font-size: 3rem;
    color: rgb(27, 27, 27);
}

.project-item {
    min-height: 380px;
    width: 80%;
    margin: 30px auto;
    border-radius: 10px;
    position: relative;
}

.project-item::before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background: #311996;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.6;
    z-index: 2
}

.project-item img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 1;
}

@media (min-width: 550px) {
    .project-item-1{
        transform: translateX(50px);
    }
    /* .project-item:nth-child(even) {
        transform: translateX(-50px);
    } */
}

@media (max-width: 480px) {}

.project-info {
    z-index: 2;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.project-info h3 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 20px;
}

.project-info h4 {
    font-size: 1.5rem;
    color: #e12179;
    margin-bottom: 20px;
    font-weight: 400;
}

.project-info p {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 400;
}

.col-1 {
    margin: 0.5rem;
    border-radius: 0.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    background-color: #32cb76;
    border: none;
    padding: 10px;
    width: fit-content;
}

.col-1:hover {
    filter: brightness(110%);
}

#menuToggle {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}


/*
 * Just a quick hamburger
 */

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}


/*
 * But let's hide the middle one.
 */

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


/*
 * Ohyeah and the last one should go the other direction
 */

#menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}


/*
 * Make this absolute positioned
 * at the top left of the screen
 */

.navigation {
    position: fixed;
    right: 0;
    height: 100vh;
    z-index: 5;
}

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}


/*
 * And let's fade it in from the left
 */

#menuToggle input:checked~ul {
    transform: none;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    #menu {
        transform: none;
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }
}



.footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #263238;
    text-align: center;
    color: #f4f4f4;
}

.icons{
    padding-top: 1rem;
}

.icons a{
    text-decoration: none;
    font-size: 2rem;
    margin: 0.5rem;
    color: #f4f4f4;
}

.company-name{
    font-size: 1.6rem;
    margin-top: 0.5rem;
}




.rs-img {
    width: 10%;
}

a {
    text-decoration: none;
}
